<section id="products-view">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <section id="product-list-view">
            <div class="container">
                <form ng-submit="products.saveAll()">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Продукт</th>
                                        <th>Показатель</th>
                                        <th>Тип показателя</th>
                                        <th>Дата начала действия</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in products.items" ng-form="Index_{{$index}}">
                                        <td class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">{{item.Id || '&infin;'}}</span>
                                            <input type="text" class="form-control" placeholder="Наименование" required data-ng-model="item.Product">
                                        </td>
                                        <td ><input type="number" class="form-control" min="0" placeholder="План" max="1000" required data-ng-model="item.Value"></td>
                                        <td >
                                            <select ng-model="item.IndexKind" class="form-control" style="width:auto">
                                                <option value="0">Норма</option>
                                                <option value="1">Премия</option>
                                            </select>
                                        </td>
                                        <td><input type="date" ng-model="item.ActiveStart" class="form-control" data-format-date/></td>
                                        <td><button type="button" class="btn btn-danger" ng-click="products.remove(item)">Удалить продукт</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-info" data-ng-click="products.add()">Добавить</button>
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>
