<section id="products-view">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <section id="product-list-view">
            <div class="container">
                <form ng-submit="products.saveAll()">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Продукт</th>
                                        <th>План</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in products.items" ng-form="Index_{{$index}}">
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="basic-addon1">{{item.Id || '&infin;'}}</span>
                                                <input type="text" class="form-control" placeholder="Наименование" required data-ng-model="item.Product">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="number" class="form-control" min="0" placeholder="План (0-1000)" max="1000" required data-ng-model="item.Value">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-danger" ng-click="products.remove(item)">Удалить продукт</button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-info" data-ng-click="products.add()">Добавить</button>
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>
