<section id="products-view">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <section id="product-list-view">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Код продукта</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in products.items" >
                                        <td>{{1+$index}}.</td>
                                        <td><a ui-sref="products.detail({code:'{{item}}'})">{{item}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn btn-default" data-ng-click="products.add()">Добавить</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" ui-view></div>
</section>
